<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Assets</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="container">
<div class="navbar">
    <h2>Airtel IMS</h2>
    <div>
        <a th:href="@{/}">Dashboard</a>
        <a th:href="@{/assets}">Assets</a>
        <a th:href="@{/employees}">Employees</a>
        <a th:href="@{/assignments}">Assignments</a>
    </div>
</div>
    
	<h2>Assets</h2>

<a th:href="@{/assets/new}">➕ Add New Asset</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Serial</th>
        <th>Model</th>
        <th>Department</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    <tr th:each="asset : ${assets}">
        <td th:text="${asset.id}"></td>
        <td th:text="${asset.name}"></td>
        <td th:text="${asset.serialNumber}"></td>
        <td th:text="${asset.model}"></td>
        <td th:text="${asset.department}"></td>
        <td th:text="${asset.status}" th:attr="data-status=${asset.status}"></td>
        <td>
            <a th:href="@{'/assets/delete/' + ${asset.id}}">Delete</a>
        </td>
    </tr>
</table>

<br>
<a th:href="@{/}">Back</a>
</div>
</body>
</html>